.Button {
    background-color:rgb(71, 151, 243);
    padding: 8px 16px;
    margin: 0px;
    border: none;
}

.Button:hover {
    background-color:rgb(88, 159, 240);
}

.Container {
    position: relative;
    display: inline-block;
}

.Menu {
    position: absolute;

    left: 0px;
    top: calc(100% + 4px);

    background-color:rgb(218, 218, 218);

    display: flex;
    flex-direction: column;
}

.Menu__item {
    padding: 8px 16px;
}

.Menu__item:hover {
    background-color:rgb(114, 114, 114); 
}